<template name="SideNav">
	<div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li>
                <a href="/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="/"><i class="fa fa-fw fa-bar-chart-o"></i> Projects</a>
            </li>
            <li>
                <a href="/"><i class="fa fa-fw fa-table"></i> Tasks</a>
            </li>
        </ul>
    </div>
</template>